{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="admin-panel">
        <h2>Admin Panel</h2>
        <ul>
            {% if perms.bookreviews.can_access_admin_panel %}
            <p><a href="{% url 'list_users' %}">list users</a></p>
            <p><a href="{% url 'total_reviews' %}">total reviews</a></p>
            <p><a href="{% url 'search_users_reviews' %}">Search Users OR Reviews OR Comments</a></p>

            {% endif %}
            <!-- Add more admin function links as needed -->
        </ul>
    </div>

</body>

</html>


{% endblock %}