{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <article class="admin-panel">
            <h1>Admin Panel</h1>
                <ul class="admin-panel-list">
                    {% if perms.bookreviews.can_access_admin_panel %}
                    <li class="admin-panel-item">
                        <a href="{% url 'list_users' %}">Users <br> <i class="fa-solid fa-users"></i></a>
                    </li>
                    <li class="admin-panel-item">
                        <a href="{% url 'total_reviews' %}">Reviews <br><i class="fa-solid fa-feather"></i></a>
                    </li>
                    <li class="admin-panel-item">
                        <a href="{% url 'search_users_reviews' %}">Admin Search <br> <i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                    {% endif %}
                </ul>

        </article>
    </div>

</body>

</html>


{% endblock %}