<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>

<body>
    <header>
        <h1>My Website</h1>
        <h2><a href="{% url 'index' %}">home</a></h2>
        {% if user.is_authenticated %}
        <p>Logged in as {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
        <p>Hello, {{ user.first_name }} {{ user.last_name }}</p>
        <p><a href="{% url 'my_reviews' %}">My Reviews</a></p>

        {% else %}
        <p>Not logged in | <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></p>
        {% endif %}

        {% if user.is_authenticated and user.is_superuser and perms.bookreviews.can_access_admin_panel %}
        <p><a href="{% url 'admin_panel' %}">Admin Panel</a></p>
        {% endif %}

        <form method="GET" action="{% url 'search_books' %}">
            <label for="id_query">Search Books:</label>
            <input type="text" id="id_query" name="query" maxlength="100">
            <button type="submit">Search</button>
        </form>

    </header>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h1>this is a test for footer</h1>
    </footer>

</body>

</html>