{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>
<body>


    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Category:</strong> {{ book.category }}</p>
    <p><strong>Description:</strong> {{ book.description | safe }}</p>
    <img src="{{book.image}}" alt="">
    <P>
        <a href="{% url 'leave_review' book.id %}">Leave a review</a>
    </P>
    <h2>Reviews:</h2>
    <ul>
        {% for review in reviews %}
            <li>
                <p>Reviewer: {{ review.user.username }}  </p>
                <p>Review: {{ review.review_content }}  </p>
                <p>Rating: ({{ review.rating }}/5)  </p>
                <p>Date reviewed: {{ review.review_date }}</p>
                {% if review.user == request.user %}
                    <a href="{% url 'edit_review' review.id %}">Edit Review</a>
                    <a href="{% url 'delete_review' review.id %}">Delete Review</a>
                {% endif %}
                
                {% if perms.bookreviews.can_edit_reviews %}
                    <a id="admin-edit-review" href=" {% url 'edit_any_review' review.id %} ">Admin: Edit This Review</a>
                {% endif %}
                {% if perms.bookreviews.can_delete_reviews %}
                    <a id="admin-delete-review" href=" {% url 'delete_any_review' review.id %} ">Admin: Delete This Review</a>
                {% endif %}
            </li>
            <!-- Display comments on this review -->
            
                <h2>Comments on this review:</h2>
                {% for comment in review.commenting_set.all %}
                    <p>- User {{ comment.user.username }}'s comment: {{ comment.comment_text }}</p>
                
                    {% if perms.bookreviews.can_delete_comments %}
                    <form action="{% url 'delete_comment' comment.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete Comment</button>
                    </form>
                    {% endif %}


                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            
            <!-- Comment form for adding a comment to the review -->
            <details style="padding: 20px; color: #4968db; font-size: 22px;"> 
                <summary>Add a comment</summary>
                <div>
                    <form method="post" action="{% url 'add_comment_to_review' review.id %}">
                        {% csrf_token %}
                        <fieldset class="comment_form">
                            <legend>Add a comment to this review:</legend>
                            {{ comment_form.as_p }}
                            <button type="submit">Submit Comment</button>
                        </fieldset>
                    </form>
                </div>
            </details>
        {% empty %}
            <li>No reviews yet.</li>
        {% endfor %}
    </ul>
    
    


</body>
</html>

{% endblock %}
