{% extends 'base.html' %}

{% block title %}Book Detail - {{ book.title }}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <article class="page-title-article">
            <h1 class="page-title">CHAPTERS UNFOLD <img src="/static/bookreviews/images/icons/book-icon-dark-background.png" alt="Image of book icon"></h1>
            
        </article>

        <article class="book-article book-single-page">
            <figure class="book-intro-card">
                <img src="{{ book.image }}" alt="">
                <figcaption class="book-intro-text">
                    <h2>{{ book.title }}</h2>
                    <h3>{{ book.author }}</h3>
                    <h4>{{ book.category }}</h4>
                </figcaption>
            </figure>
            <div class="book-page-details">
                <h3><i class="fa-solid fa-paperclip"></i> Short Summary</h3>
                <p>{{ book.description | safe }}</p>
            </div>
            <a href="{% url 'leave_review' book.id %}" class="primary-link">Share your thoughts, add a review</a>
        </article>

        <!-- Review Section -->
        <section class="reviews-section">
            {% if reviews %}
            <!-- <h2>Reviews</h2> -->
            {% for review in reviews reversed %}
            <article class="my-review">
                <div class="review-rating">
                    <h3>{{ review.user.username }}</h3>
                    <div>
                        <h3>({{ review.rating }}/5)</h3>
                        <p>{{ review.review_date }}</p>
                    </div>
                </div>
                <div class="single-review-details">
                    <p>{{ review.review_content }}</p>
                    {% if review.user == request.user %}
                    <div class="button-holder">
                        <a href="{% url 'edit_review' review.id %}" class="secondary-link-dark">Edit</a>
                        <a href="{% url 'delete_review' review.id %}" class="secondary-link-dark">Delete</a>
                    </div>
                    {% endif %}
                    {% if perms.bookreviews.can_edit_reviews and perms.bookreviews.can_delete_reviews %}
                    <div class="admin-button-holder">
                        <a class="secondary-link-dark" id="admin-edit-review" href="{% url 'edit_any_review' review.id %}">Admin: Edit This Review</a>
                        <a class="secondary-link-dark" id="admin-delete-review" href="{% url 'delete_any_review' review.id %}">Admin: Delete This Review</a>
                    </div>
                    {% endif %}
                </div>
                <details class="comment-details">
                    <summary>
                        <h3>Comment Party! <i class="fa-solid fa-comments"></i></h3>
                    </summary>
                    {% for comment in review.commenting_set.all %}
                    <div class="other-comments">
                        <div class="other-single-comment">
                            <div class="review-rating comment-info">
                                <p>User {{ comment.user.username }}'s comment: {{ comment.comment_text }}</p>
                            </div>
                            {% if perms.bookreviews.can_delete_comments %}
                            <form action="{% url 'delete_comment' comment.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="secondary-link-dark">Delete</button>
                            </form>
                            {% endif %}
                        </div>
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                        <form action="{% url 'add_comment_to_review' review.id %}" method="POST" class="block-form">
                            {% csrf_token %}
                            <fieldset class="comment_form">
                                {{ comment_form.as_p }}
                                <button class="send-button" type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                            </fieldset>
                        </form>
                    </div>
                </details>
            </article>
            {% empty %}
            <p>No reviews yet.</p>
            {% endfor %}
            {% else %}
            <p>No reviews available.</p>
            {% endif %}
        </section>
    </div>
</main>
{% endblock %}
