{% extends 'base.html' %}

{% block title %} Confirm Review Deletion {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Review Deletion</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>


<body>
    <main>
        <article class="delete">
            <h1>Confirm Review Deletion</h1>
            <p>Are you sure you want to delete the review?</p>
        <form method="post">
            {% csrf_token %}
            <button class="secondary-link-dark" type="submit" name="confirm_delete" value="yes">Yes, delete</button>
            <!-- Use review.book_id instead of review.book.id -->
            <button class="secondary-link-dark" formaction="{% url 'book_detail' review.book_id %}">Cancel</button>
        </form>
    </article>
    </main>
</body>


</html>

{% endblock %}