{% extends 'base.html' %}

{% block title %} Book List {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Review Deletion</title>
</head>
<body>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete the review?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn" type="submit" name="confirm_delete" value="yes">Yes, delete</button>
        <!-- Use review.book_id instead of review.book.id -->
        <button class="btn" ><a href="{% url 'book_detail' review.book_id %}">Cancel</a></button>
    </form>
</body>
</html>

{% endblock %}