{% extends 'base.html' %}

{% block title %} Delete User by Admin {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User by Admin </title>
</head>
<body>
    {% if perms.bookreviews.can_delete_users %}
    <h1>Confirm Deleting a User by Admin</h1>
    <p>Are you sure you want to delete the user {{ user.username }}?</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Yes, delete</button>
        <button><a href="{% url 'admin_panel' %}">Cancel</a></button>
    </form>
    {% endif %}
    
</body>
</html>


{% endblock %}