{% extends 'base.html' %}

{% block title %} Confirm Review Deletion By Admin {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Review Deletion By Admin</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>
<body>
    {% if perms.bookreviews.can_delete_reviews %}
    <h1>Confirm Deleting this review</h1>
    <p>Are you sure you want to delete the review?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn" type="submit" name="delete_any_review" value="yes">Yes, delete</button>
        <!-- Use review.book_id instead of review.book.id -->
        <button class="btn" ><a href="{% url 'book_detail' review.book_id %}">Cancel</a></button>
    </form>
    {% endif %}
</body>
</html>

{% endblock %}