{% extends 'base.html' %}

{% block title %} Delete User by Admin {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User by Admin </title>
</head>
<body>
    {% if perms.bookreviews.can_delete_users %}
    <article class="delete">
        <h1>Delete User By Admin</h1>
        <p>Are you sure you want to delete the user <strong>{{ user.username }}</strong></p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="delete-buttons">
                 <!-- while i am coding static, i used a instead of button. -->
                 <button class="primary-button" type="submit">Yes, delete</button>
                 <button class="primary-button" type="submit" formaction="{% url 'admin_panel' %}" >Cancel</button>
            </div>
        </form>
    </article>



    {% endif %}
    
</body>
</html>


{% endblock %}