{% extends 'base.html' %}

{% block title %} Edit Review {% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Edit Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookreviews/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bookreviews/css/header-footer.css' %}">
    <link rel="stylesheet" href="{% static 'bookreviews/css/authentication.css' %}">
</head>
<body>
    <main>
        <div class="container">
        <article class="review-page-title">
            <h1>Edit Your Review</h1>
        </article>

        <article class="review-forms">
        <fieldset class="review_form">
            <legend>Want To Change Something?<img src="/static/bookreviews/images/icons/user.png" alt="Image of a Quil Pen Icon" class="icon"></legend>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="secondary-link-dark" type="submit">Save Changes</button>
                <button class="secondary-link-dark" type="submit" formaction="{% url 'book_detail' book.id %}" >cancel</button>
            </form>
        </fieldset>
    </article>
</div>
    </main>
</body>
</html>

{% endblock %}
