{% extends 'base.html' %}

{% block title %} Edit Any Review By Admin {% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Edit Any Review By Admin </title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>
<body>
    <main>
        <div class="container">
            <article class="review-forms">
                <fieldset class="review_form">

                    {% if perms.bookreviews.can_edit_reviews %}
                    <legend>Edit Review by Admin<img src="/static/bookreviews/images/icons/user.png" alt="Image of a Quil Pen Icon" class="icon"></legend>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="secondary-link-dark" type="submit">Save Changes</button>
                        <button class="secondary-link-dark" type="submit" formaction="{% url 'book_detail' book.id %}">Cancel</button>
                    </form>
                    {% endif %}

                </fieldset>
            </article>
        </div>
    </main>
</body>
</html>

{% endblock %}
