{% extends 'base.html' %}

{% block title %} Index page {% endblock %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    


        <div class="container">
            <article class="page-title-article">
                <h1 class="page-title">Infinite Library     <img src="../static/bookreviews/images/icons/book-icon-dark-background.png" alt="Image of book icon"></h1>
            </article>
            {% for book in books %}
             <!-- End of page-title -->
            <article class="book-article" data-aos="fade-up" data-aos-duration="1000">  
                <figure class="book-intro-card">
                    <img src="{{ book.image }}" alt="">
                    <figcaption class="book-intro-text">
                        <h2>Title: {{ book.title }}</h2>
                        <h3>Author: {{ book.author }}</h3>
                        <h3>Categories: {{ book.category }}</h3>
                    </figcaption>
                </figure>
                <div class="book-card-bottom">
                    <h4>Author: {{ book.author }}</h4> 
                    <a href="{% url 'book_detail' book.id %}" class="primary-link">Read More</a>
                </div>
            </article>
             <!-- End of the Book Article -->
        {% endfor %}
        </div>


    <!-- <h1>Books</h1>
    <ul>
        {% for book in books %}

        <img src="{{book.image}}" alt="" class="book_thumbnail" />
        <li>Title: {{book.title}}</li>
        <li><div class="book_description">Description: {{book.description}}</div></li>
        <li>Author: {{book.author}}</li>
        <li>Categories: {{book.category}}</li>
        <li><a href="{% url 'book_detail' book.id %}">View Details</a></li>
        <br />
        <br />
        {% endfor %}
    </ul> -->

</body>
</html>

{% endblock %}