<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">

</head>
<body>
    <!-- <pre>{{ request | pprint }}</pre> -->
    <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    



    <a href="{% url 'index' %}">home</a>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>
</html>
