<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">

</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    


    <h2><a href="{% url 'index' %}">home</a></h2>
    <h3>Don't have an account? <a href="{% url 'register' %}">Register</a></h3>
    
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>
</html>
