{% extends 'base.html' %}

{% block title %} My Reviews {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reviews</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>

<body>
    <h1>My Reviews</h1>
    <ul>
        {% for item in reviews_with_books %}
        <li>
            Review for: <a href="{% url 'book_detail' item.review.book_id %}">{{ item.book.title }}</a>
            | Rating: {{ item.review.rating }}/5
            | Review content: {{ item.review.review_content }}
        </li>
        {% empty %}
        <li>No reviews found.</li>
        {% endfor %}
    </ul>
</body>
</html>


{% endblock %}