{% extends 'base.html' %}

{% block title %} My Reviews {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reviews</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>

<body>
    <main>
        <div class="container">
        <article class="page-title-article">
            <h1 class="page-title">My Reviews<img src="/static/bookreviews/images/icons/user.png" alt="Image of quil pen icon"></h1>
        </article>


{% for item in reviews_with_books %}
<article class="my-reviews-1">
    <div class="review-card">    
        <h2>Review for:</h2>
        <div class="review-rating">
            <h2><a href="{% url 'book_detail' item.review.book_id %}">{{ item.book.title }}</a></h2>
            <div class="my-review-page-rating">   
                <h2>Rating:</h2> 
                <h2>{{ item.review.rating }}/5</h2>
            </div>
        </div>
        <h2> Review content:</h2> 
        <p>T{{ item.review.review_content }} </p>
     
       <div class="button-holder">
            <a href="{% url 'edit_review' item.review.id %}" class="secondary-link-dark">Edit</a>
            <a href="{% url 'delete_review' item.review.id %}"class="secondary-link-dark">Delete</a>
        </div>
    </div>
</article>
{% empty %}
    <p>No reviews found.</p>
{% endfor %}        </div>
    </main>
</body>
</html>


{% endblock %}