{% extends 'base.html' %}

{% block title %} My Reviews {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reviews</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">
</head>

<body>
    <div class="container">
        <article class="page-title-article">
            <h1 class="page-title">My Reviews<img src="/static/bookreviews/images/icons/user.png" alt="Image of quil pen icon"></h1>
        </article>

        {% for item in reviews_with_books reversed %}
        <section class="my-reviews-1">
            <div class="review-card">  
                <h3>Review ID: <a id="my-reviews-id-book-link" href="{% url 'review_detail' item.review.id %}">{{ item.review.id }}</a></h3>  
                
                <div class="review-rating">
                    <h2>Review for:
                    <a id="my-reviews-id-book-link" href="{% url 'book_detail' item.review.book_id %}">{{ item.book.title }}</a></h2>
                    <div class="my-review-page-rating">   
                        <h2>Rating: {{ item.review.rating }}/5</h2>
                    </div>
                </div>
                <h2> Review content:</h2> 
                <p>{{ item.review.review_content | safe }} </p>
            
            <div class="button-holder">
                    <a href="{% url 'edit_review' item.review.id %}" class="secondary-link-dark">Edit</a>
                    <a href="{% url 'delete_review' item.review.id %}"class="secondary-link-dark">Delete</a>
                </div>
            </div>
        </section>
        {% empty %}
            <p>No reviews found.</p>
        {% endfor %}        
    </div>
</body>
</html>


{% endblock %}