
{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">

</head>
<body>
    <div class="container">
    <h1>Review Details</h1>
        <ul class="review-details">
            <li><strong>Review ID:</strong> {{ review.id }}</li>
            <li><strong>Review by:</strong> {{ review.user.username }}</li>
            <li id="review_detail_book_title_link" ><strong>Book Title:</strong> <a href=" {% url 'book_detail' review.book_id %} "> {{ book_title }} </a> </li>
            <li><strong>Book Author:</strong> {{ book_author }}</li>
            <li><strong>Review Date:</strong> {{ review.review_date }}</li>
            <li><strong>Rating:</strong> {{ review.rating }}/5</li>
            <li><strong>The Review:</strong></li>
            <li id="review-content">
                 {{ review.review_content | safe }}
            </li>
        </ul>
    </div>

</body>
</html>

{% endblock %}