
{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bookreviews/css/style.css' %}">

</head>
<body>
    <div class="container">
    <h1>Review Details</h1>
        <div class="review-details">
            <p><strong>Review ID:</strong> {{ review.id }}</p>
            <p><strong>Review by:</strong> {{ review.user.username }}</p>
            <!-- <p><strong>Book ID:</strong> {{ review.book_id }}</p> -->
            <p><strong>Book Title:</strong> {{ book_title }}</p>
            <p><strong>Book Author:</strong> {{ book_author }}</p>
            <!-- <p><strong>Book Description:</strong> {{ book_description }}</p> -->
            <!-- <p><strong>Book Category:</strong> {{ book_category }}</p> -->
            <p><strong>Review Date:</strong> {{ review.review_date }}</p>
            <p><strong>Rating:</strong> {{ review.rating }}/5</p>
            <p><strong>The Review:</strong></p>
            <div id="review-content">
                 {{ review.review_content | safe }}
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}