

{% extends 'base.html' %}

{% block title %} Total Reviews {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Reviews </title>
</head>
<body>
    <div class="container">
        {% if perms.bookreviews.can_view_all_reviews %}
        <div class="total-review-count">
            <h2>Total Reviews</h2>
            <h2>Total number of reviews on this site: {{ total_reviews }}</h2>
        {% endif %}
        </div>
    </div>
    
</body>
</html>


{% endblock %}