{% extends 'base.html' %}

{% block title %} User Detail {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>

<body>
    <div class="container">
        <article class="user-detail">
            <h1>User Detail</h1>
            <h2><a href="{% url 'admin_panel' %}">Back to Admin Panel</a></h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </article>
    </div>

</body>

</html>

{% endblock %}