
*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

li {
    margin-top: 10px;
    font-size: 22px;
}

h1{
    font-size: 36px;
}

p{
    font-size: 20px;
}

a{
    /* font-size: 20px; */
}

/* button a{
    border: 3px solid green;    
} */

.btn, .btn>a{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
}

header{
    background-color: aquamarine;
    width: 100%;
}


.alert{
    color: rgb(195, 4, 4);
    /* display:table; */
    /* background-color: red; */
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
}

/* .login-link,
.register-link{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(4, 4, 195);
    border-radius: 10px;
    padding: 5px;
    border: 3px solid rgb(4, 4, 195);
}    */



.register_form{
    border: 2px solid black;
}


.book_description{
    width: auto;
    height: 25px;
    overflow: hidden;
}

.book_thumbnail{
    width: 100px;
    height: 140px;
    margin: 20px 0;
}


.review_form label{
    display: block;
}

.comment_form{
    display: inline;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: nowrap; */
    /* padding: 0; */
    margin: 20px 0;
}

.comment_form label{
    display: block;
    font-size: 16px;
}